@import './common//layout.scss';
html {
    font-family: MHei, PFSquareSansPromedium, Microsoft JhengHei, 微軟正黑體, Myriad Set Pro, Helvetica Neue, Helvetica, sans-serif, Arial;
    line-height: 1.4;
}

#app {
    width: 100%;
    height: 100%;
}